
 {% load static %}
     
<!DOCTYPE html>
<html> 

{% block title %}
  My Tennis Club - List of all members
{% endblock %}


  <body>
    <link rel="stylesheet" href="{% static '/css/myfirst.css' %}">

    {% block content %}
     <p><a href="/">HOME</a></p>

    <h1>Members
    </h1>

    <ul>
        {% for x in mymembers %}
    <li><a href="details/{{ x.id }}">{{ x.firstname }} {{ x.lastname }}</a></li>
  {% endfor %}
    </ul>

    {% endblock %}
    <img src="{%static 'images/dog.png'%}">
  </body>  
  
</html>